<div class="row">
    <div class="col-sm-3">
        <h1>Deals à la une</h1>
        {{#each a_la_une}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.imageUrl}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.price}}</p>
                    <a href="#" class="btn btn-primary">{{this.price}}</a>
                </div>
            </div>
            <div style="height: 1rem"></div>
        {{/each}}
    </div>
    <div class="col-sm-3">
        <h1>Derniers deals hot</h1>
        {{#each hot}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.imageUrl}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.price}}</p>
                    <a href="#" class="btn btn-primary">{{this.price}}</a>
                </div>
            </div>
            <div style="height: 1rem"></div>
        {{/each}}
    </div>
    <div class="col-sm-3">
        <h1>Derniers deals</h1>
        {{#each new}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.imageUrl}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.price}}</p>
                    <a href="#" class="btn btn-primary">{{this.price}}</a>
                </div>
            </div>
            <div style="height: 1rem"></div>
        {{/each}}
    </div>
    <div class="col-sm-3">
        <h1>Deals commentés</h1>
        {{#each comment}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.imageUrl}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.price}}</p>
                    <a href="#" class="btn btn-primary">{{this.price}}</a>
                </div>
            </div>
            <div style="height: 1rem"></div>
        {{/each}}
    </div>
</div>
