<div id="app">

    <div class="page-container md-layout-column">
        <md-toolbar class="purple-one ">
            <span class="md-title text-light" style="flex: 1">
                <md-icon class="fa fa-tree text-light"></md-icon> DECKLABS
            </span>
            <md-button class="md-icon-button" href="javascript:window.location.reload(false);">
                <md-icon class="fa fa-refresh text-light"></md-icon>
            </md-button>
        </md-toolbar>

        <md-content class="bg-color">


            <div class="md-layout" v-lazy-container="{ selector: 'img[data-src]' }">
                {{#with deals}}
                <div class="md-layout-item fix-card">
                    <div class="text-center">
                        <span class="md-headline"><i class="em em-trophy small-emoji" aria-role="presentation"
                                aria-label="TROPHY"></i> Deals à la une</span>
                    </div>

                    {{#each a_la_une}}
                    <div class="card-expansion">
                        <md-card class="round-corner" md-with-hover>

                            <md-card-media>
                                <img {{#if (islazyloaded @index)}} data-src="{{this.imageUrl}}" {{else}}
                                    src="{{this.imageUrl}}" {{/if}} alt="Image">
                            </md-card-media>
                            <md-card-header>
                                <div>
                                    <span class="md-subheading">{{this.title}} - </span>
                                    {{#if (isHot this.temperature)}}
                                    <span class="md-body-2 hot">{{this.temperature}}</span>
                                    {{else}}
                                    {{#if (isNew this.temperature)}}
                                    <span class="md-body-2 new">{{this.temperature}}</span>
                                    {{else}}
                                    <span class="md-body-2 cold">{{this.temperature}}</span>
                                    {{/if}}
                                    {{/if}}
                                </div>
                            </md-card-header>

                            <md-card-content class="text-center no-pad-bottom">
                                <span class="md-caption usual-price">{{this.usualPrice}}</span>
                            </md-card-content>
                            <md-card-expand>
                                <md-card-actions class="round-corner no-pad-top">
                                    <div class="center-btn">
                                        {{#if this.price}}
                                        <md-button class="md-raised custom-btn" href="{{this.url}}" target="_blank">
                                            {{this.price}}</md-button>
                                        {{else}}
                                        <md-button class="md-raised custom-btn" href="{{this.url}}" target="_blank">
                                            Voir</md-button>
                                        {{/if}}
                                    </div>
                                    <md-card-expand-trigger>
                                        <md-button class="md-icon-button">
                                            <md-icon>keyboard_arrow_down</md-icon>
                                        </md-button>
                                    </md-card-expand-trigger>
                                </md-card-actions>

                                <md-card-expand-content>
                                    <md-card-content>
                                        <div class="md-layout">
                                            <div class="md-layout-item text-center">
                                                <span>CeKeTuVeu</span>
                                            </div>
                                            <div class="md-layout-item text-center">
                                                <span>CeKeTuVeu</span>
                                            </div>
                                        </div>
                                        {{this.description}}
                                    </md-card-content>
                                </md-card-expand-content>
                            </md-card-expand>
                        </md-card>
                    </div>
                    {{/each}}
                </div>

                <div class="md-layout-item fix-card">
                    <div class="text-center">
                        <span class="md-headline"><i class="em em-fire small-emoji" aria-role="presentation"
                                aria-label="FIRE"></i> Derniers deals hot</span>
                    </div>
                    {{#each hot}}
                    <div class="card-expansion">
                        <md-card class="round-corner" md-with-hover>

                            <md-card-media>
                                <img {{#if (islazyloaded @index)}} data-src="{{this.imageUrl}}" {{else}}
                                    src="{{this.imageUrl}}" {{/if}} alt="Image">
                            </md-card-media>
                            <md-card-header>
                                <div>
                                    <span class="md-subheading">{{this.title}} - </span>
                                    {{#if (isHot this.temperature)}}
                                    <span class="md-body-2 hot">{{this.temperature}}</span>
                                    {{else}}
                                    {{#if (isNew this.temperature)}}
                                    <span class="md-body-2 new">{{this.temperature}}</span>
                                    {{else}}
                                    <span class="md-body-2 cold">{{this.temperature}}</span>
                                    {{/if}}
                                    {{/if}}
                                </div>
                            </md-card-header>

                            <md-card-content class="text-center no-pad-bottom">
                                <span class="md-caption usual-price">{{this.usualPrice}}</span>
                            </md-card-content>
                            <md-card-expand>
                                <md-card-actions class="round-corner no-pad-top">
                                    <div class="center-btn">
                                        {{#if this.price}}
                                        <md-button class="md-raised custom-btn" href="{{this.url}}" target="_blank">
                                            {{this.price}}</md-button>
                                        {{else}}
                                        <md-button class="md-raised custom-btn" href="{{this.url}}" target="_blank">
                                            Voir</md-button>
                                        {{/if}}
                                    </div>
                                    <md-card-expand-trigger>
                                        <md-button class="md-icon-button">
                                            <md-icon>keyboard_arrow_down</md-icon>
                                        </md-button>
                                    </md-card-expand-trigger>
                                </md-card-actions>

                                <md-card-expand-content>
                                    <md-card-content>
                                        <div class="md-layout">
                                            <div class="md-layout-item text-center">
                                                <span>CeKeTuVeu</span>
                                            </div>
                                            <div class="md-layout-item text-center">
                                                <span>CeKeTuVeu</span>
                                            </div>
                                        </div>
                                        {{this.description}}
                                    </md-card-content>
                                </md-card-expand-content>
                            </md-card-expand>
                        </md-card>
                    </div>
                    {{/each}}
                </div>
                <div class="md-layout-item fix-card">
                    <div class="text-center">
                        <span class="md-headline"><i class="em em-clock130 small-emoji" aria-role="presentation"
                                aria-label="CLOCK FACE ONE-THIRTY"></i> Derniers deals</span>
                    </div>

                    {{#each new}}
                    <div class="card-expansion">
                        <md-card class="round-corner" md-with-hover>

                            <md-card-media>
                                <img {{#if (islazyloaded @index)}} data-src="{{this.imageUrl}}" {{else}}
                                    src="{{this.imageUrl}}" {{/if}} alt="Image">
                            </md-card-media>
                            <md-card-header>
                                <div>
                                    <span class="md-subheading">{{this.title}} - </span>
                                    {{#if (isHot this.temperature)}}
                                    <span class="md-body-2 hot">{{this.temperature}}</span>
                                    {{else}}
                                    {{#if (isNew this.temperature)}}
                                    <span class="md-body-2 new">{{this.temperature}}</span>
                                    {{else}}
                                    <span class="md-body-2 cold">{{this.temperature}}</span>
                                    {{/if}}
                                    {{/if}}
                                </div>
                            </md-card-header>

                            <md-card-content class="text-center no-pad-bottom">
                                <span class="md-caption usual-price">{{this.usualPrice}}</span>
                            </md-card-content>
                            <md-card-expand>
                                <md-card-actions class="round-corner no-pad-top">
                                    <div class="center-btn">
                                        {{#if this.price}}
                                        <md-button class="md-raised custom-btn" href="{{this.url}}" target="_blank">
                                            {{this.price}}</md-button>
                                        {{else}}
                                        <md-button class="md-raised custom-btn" href="{{this.url}}" target="_blank">
                                            Voir</md-button>
                                        {{/if}}
                                    </div>
                                    <md-card-expand-trigger>
                                        <md-button class="md-icon-button">
                                            <md-icon>keyboard_arrow_down</md-icon>
                                        </md-button>
                                    </md-card-expand-trigger>
                                </md-card-actions>

                                <md-card-expand-content>
                                    <md-card-content>
                                        <div class="md-layout">
                                            <div class="md-layout-item text-center">
                                                <span>CeKeTuVeu</span>
                                            </div>
                                            <div class="md-layout-item text-center">
                                                <span>CeKeTuVeu</span>
                                            </div>
                                        </div>
                                        {{this.description}}
                                    </md-card-content>
                                </md-card-expand-content>
                            </md-card-expand>
                        </md-card>
                    </div>
                    {{/each}}
                </div>

                <div class="md-layout-item fix-card">
                    <div class="text-center">
                        <span class="md-headline"><i class="em em-speech_balloon small-emoji" aria-role="presentation"
                                aria-label="SPEECH BALLOON"></i> Deals commentés</span>
                    </div>

                    {{#each comment}}
                    <div class="card-expansion">
                        <md-card class="round-corner" md-with-hover>

                            <md-card-media>
                                <img {{#if (islazyloaded @index)}} data-src="{{this.imageUrl}}" {{else}}
                                    src="{{this.imageUrl}}" {{/if}} alt="Image">
                            </md-card-media>
                            <md-card-header>
                                <div>
                                    <span class="md-subheading">{{this.title}} - </span>
                                    {{#if (isHot this.temperature)}}
                                    <span class="md-body-2 hot">{{this.temperature}}</span>
                                    {{else}}
                                    {{#if (isNew this.temperature)}}
                                    <span class="md-body-2 new">{{this.temperature}}</span>
                                    {{else}}
                                    <span class="md-body-2 cold">{{this.temperature}}</span>
                                    {{/if}}
                                    {{/if}}
                                </div>
                            </md-card-header>

                            <md-card-content class="text-center no-pad-bottom">
                                <span class="md-caption usual-price">{{this.usualPrice}}</span>
                            </md-card-content>
                            <md-card-expand>
                                <md-card-actions class="round-corner no-pad-top">
                                    <div class="center-btn">
                                        {{#if this.price}}
                                        <md-button class="md-raised custom-btn" href="{{this.url}}" target="_blank">
                                            {{this.price}}</md-button>
                                        {{else}}
                                        <md-button class="md-raised custom-btn" href="{{this.url}}" target="_blank">
                                            Voir</md-button>
                                        {{/if}}
                                    </div>
                                    <md-card-expand-trigger>
                                        <md-button class="md-icon-button">
                                            <md-icon>keyboard_arrow_down</md-icon>
                                        </md-button>
                                    </md-card-expand-trigger>
                                </md-card-actions>

                                <md-card-expand-content>
                                    <md-card-content>
                                        <div class="md-layout">
                                            <div class="md-layout-item text-center">
                                                <span>CeKeTuVeu</span>
                                            </div>
                                            <div class="md-layout-item text-center">
                                                <span>CeKeTuVeu</span>
                                            </div>
                                        </div>
                                        {{this.description}}
                                    </md-card-content>
                                </md-card-expand-content>
                            </md-card-expand>
                        </md-card>
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>
            <div class="text-center">
                <span class="md-subheading">v.{{version}} - Made with <i class="em em-purple_heart"
                        aria-role="presentation" aria-label="PURPLE HEART"></i> by <a
                        href="https://github.com/SamuelBagattin">Samuel</a> & <a
                        href="https://github.com/mnett0">Médéric</a></span>
            </div>
        </md-content>
    </div>
</div>
{{#if production}}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
{{else}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{/if}}
<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
<script src="https://unpkg.com/vue-material"></script>
<script>
    Vue.use(VueLazyload)
    Vue.use(VueMaterial.default)

    new Vue({
        el: '#app',
    })

</script>