<div id="app">
    <div class="page-container md-layout-column">
        <md-toolbar class="purple-one ">
            <span class="md-title text-light" style="flex: 1">
                <md-icon class="fa fa-tree text-light"></md-icon> DECKLABS
            </span>
            <md-button class="md-icon-button" href="javascript:window.location.reload(false);">
                <md-icon class="fa fa-refresh text-light"></md-icon>
            </md-button>
        </md-toolbar>

        <md-content>
            <div class="md-layout" v-lazy-container="{ selector: 'img[data-src]' }">
                {{#with deals}}
                    <div class="md-layout-item ">
                    <span class="md-headline"><i class="em em-first_place_medal small-emoji" aria-role="presentation"
                                                 aria-label="FIRST PLACE MEDAL"></i> Deals à la une</span>
                        {{#each a_la_une}}
                            <md-card>
                                <md-card-area>
                                    <md-card-media>
                                        <img
                                            {{#if (islazyloaded @index)}}
                                            data-src="{{this.imageUrl}}"
                                            {{else}}
                                            src="{{this.imageUrl}}"
                                            {{/if}}
                                            alt="Image">
                                    </md-card-media>
                                    <md-card-header>
                                        <div class="md-title">{{this.title}}</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <a href="{{this.url}}" target="_blank">
                                            <md-chip class="md-accent" md-clickable>{{this.price}}</md-chip>
                                        </a>
                                    </md-card-content>
                                </md-card-area>
                            </md-card>
                        {{/each}}
                    </div>
                    <div class="md-layout-item">

                    <span class="md-headline"><i class="em em-fire small-emoji" aria-role="presentation"
                                                 aria-label="FIRE"></i> Derniers deals hot</span>
                        {{#each hot}}
                            <md-card>
                                <md-card-area>
                                    <md-card-media>
                                        <img
                                            {{#if (islazyloaded @index)}}
                                            data-src="{{this.imageUrl}}"
                                            {{else}}
                                            src="{{this.imageUrl}}"
                                            {{/if}}
                                            alt="Image">
                                    </md-card-media>
                                    <md-card-header>
                                        <div class="md-title">{{this.title}}</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <a href="{{this.url}}" target="_blank">
                                            <md-chip class="md-accent" md-clickable>{{this.price}}</md-chip>
                                        </a>
                                    </md-card-content>
                                </md-card-area>
                            </md-card>
                        {{/each}}
                    </div>
                    <div class="md-layout-item">

                    <span class="md-headline"><i class="em em-clock230 small-emoji" aria-role="presentation"
                                                 aria-label="CLOCK FACE TWO-THIRTY"></i> Derniers deals</span>
                        {{#each new}}
                            <md-card>
                                <md-card-area>
                                    <md-card-media>
                                        <img
                                            {{#if (islazyloaded @index)}}
                                            data-src="{{this.imageUrl}}"
                                            {{else}}
                                            src="{{this.imageUrl}}"
                                            {{/if}}

                                            alt="Image">
                                    </md-card-media>
                                    <md-card-header>
                                        <div class="md-title">{{this.title}}</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <a href="{{this.url}}" target="_blank">
                                            <md-chip class="md-accent" md-clickable>{{this.price}}</md-chip>
                                        </a>
                                    </md-card-content>
                                </md-card-area>
                            </md-card>
                        {{/each}}
                    </div>

                    <div class="md-layout-item">


                    <span class="md-headline"><i class="em em-left_speech_bubble small-emoji" aria-role="presentation"
                                                 aria-label=""></i> Deals commentés</span>
                        {{#each comment}}
                            <md-card>
                                <md-card-area>
                                    <md-card-media>
                                        <img
                                            {{#if (islazyloaded @index)}}
                                            data-src="{{this.imageUrl}}"
                                            {{else}}
                                            src="{{this.imageUrl}}"
                                            {{/if}}

                                            alt="Image">
                                    </md-card-media>
                                    <md-card-header>
                                        <div class="md-title">{{this.title}}</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <a href="{{this.url}}" target="_blank">
                                            <md-chip class="md-accent" md-clickable>{{this.price}}</md-chip>
                                        </a>
                                    </md-card-content>
                                </md-card-area>
                            </md-card>
                        {{/each}}
                    </div>

                {{/with}}
            </div>
            <div class="footer">
                <span class="md-subheading">v.{{version}} - Made with <i class="em em-purple_heart"
                                                                         aria-role="presentation"
                                                                         aria-label="PURPLE HEART"></i> by <a
                        href="https://github.com/SamuelBagattin">Samuel</a> & <a
                        href="https://github.com/mnett0">Médéric</a></span>
            </div>
        </md-content>
    </div>p
</div>
{{#if production}}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
{{else}}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{/if}}
<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
<script src="https://unpkg.com/vue-material"></script>
<script>
    Vue.use(VueLazyload)
    Vue.use(VueMaterial.default)

    new Vue({
        el: '#app',
    })

</script>
